################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.db
*.vcxproj
*.log
/ConsoleHello/ConsoleHello/Debug
*.opendb
/ConsoleHello/.vs/ConsoleHello/v16/ipch/AutoPCH/3a6bbb5fa1a25e50/CONSOLEHELLO.ipch
/ConsoleHello/.vs/ConsoleHello/v16
